<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Car Controller</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Font roboto -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<!-- Angular Material style sheet -->
		<link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
		<!-- All material icons -->
		<link rel="stylesheet" href="googleFont/materialIcons.css">
	</head>
	<body ng-app="LegoCarApp" ng-cloak style="overflow:hidden;" layout="column" ng-controller="indexController">
	
		<!-- imports -->
		<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="node_modules/hammerjs/hammer.js"></script>
		<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-aria/angular-aria.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-messages/angular-messages.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-hammer/angular.hammer.js"></script>
		<script type="text/javascript" src="app.js"></script>
		
		<!-- controllers -->
		<script type="text/javascript" src="indexController.js"></script>
		<script type="text/javascript" src="controls/controlsController.js"></script>
		<script type="text/javascript" src="settings/settingsController.js"></script>
		<script type="text/javascript" src="services/arduinoServices.js"></script>
		
		<!-- app -->
		<md-content ng-if="isDriving" ng-controller="controlsController" flex layout="row">
			<div flex="40" layout="column" id="gasContainer" layout-align="center center">
				<div flex="70" layout="column" layout-align="center center" id="gasContainer">
					<div flex="50">
					</div>
					<md-button class="md-fab md-warn" hm-panmove="onHammer($event, 'gasButton', 'gas')" hm-panend="onHammer($event, 'gasButton', 'gas', true)" id="gasButton">
						<md-icon class="material-icons">whatshot</md-icon>
					</md-button>
				</div>
			</div>
			<div flex="20" layout="column" layout-align="space-around center">
				<md-button class="md-icon-button md-primary" ng-click="gearUp()">
					<md-icon class="material-icons">add</md-icon>
				</md-button>
				<div layout="column" layout-align="center center">
					<md-button class="md-icon-button md-primary" ng-click="openSettings()">
						<md-icon class="material-icons">settings</md-icon>
					</md-button>
					<p style="color: red" ng-if="!isConnected">Non connesso</p>
					<p style="color: green" ng-if="isConnected">Connesso</p>
					{{speed}} rpm <br><br>
					{{gear}}° gear
				</div>
				<md-button class="md-icon-button md-primary" ng-click="gearDown()">
					<md-icon class="material-icons">remove</md-icon>
				</md-button>
			</div>
			<div flex="40" layout="column" id="steerContainer" layout-align="center center">
				<md-button class="md-fab md-warn" hm-panmove="onHammer($event, 'steerButton', 'steer')" hm-panend="onHammer($event, 'steerButton', 'steer', true)" id="steerButton">
					<md-icon class="material-icons">code</md-icon>
				</md-button>
			</div>
		</md-content>
		<md-content ng-if="!isDriving" flex layout="row" layout-align="center center" ng-controller="settingsController">
			<div layout-padding layout="row" flex style="height: 100%" ng-if="!isLoading">
				<div layout="column" flex="45" layout-align="center center">
					<md-input-container style="width: 100%;">
		        		<label>Ip address</label>
		        		<input ng-model="prov.provIP" type="text">
		      		</md-input-container>
		      		<md-input-container style="width: 100%;">
		        		<label>Port</label>
		        		<input ng-model="prov.provPort" type="number">
		      		</md-input-container>
		      		<div layout="row" layout-align="center center">
		      			<md-button class="md-warn md-icon-button" ng-click="closeOptions()">
			      			<md-icon class="material-icons">arrow_back</md-icon>
			      		</md-button>
			      		<md-button class="md-raised md-primary" ng-if="!isConnected" ng-click="connect()">
			      			<md-icon class="material-icons">wifi_tethering</md-icon>
			      			Connect
			      		</md-button>
			      		<md-button class="md-raised md-primary" ng-if="isConnected" ng-click="disconnect()">
			      			<md-icon class="material-icons">portable_wifi_off</md-icon>
			      			Disconnect
			      		</md-button>
		      		</div>
	      		</div>
	      		<md-subheader flex="55" ng-if="!isConnected" class="md-primary">Connettiti per visualizzare le opzioni aggiuntive</md-subheader>
	      		<div layout-padding flex="55" ng-if="isConnected" layout="column" layout-align="space-around center">
					<md-slider-container style="width: 100%">
						<span>Gear speed up</span>
						<md-slider min="10" max="360" ng-model="settings.gearSpeed.up" class="md-warn"></md-slider>
						<md-input-container>
							<input type="number" ng-model="settings.gearSpeed.up">
						</md-input-container>
					</md-slider-container>
					<md-slider-container style="width: 100%">
						<span>Gear speed down</span>
						<md-slider min="10" max="120" ng-model="settings.gearSpeed.down" class="md-warn"></md-slider>
						<md-input-container>
							<input type="number" ng-model="settings.gearSpeed.down">
						</md-input-container>
					</md-slider-container>
					<md-slider-container style="width: 100%">
						<span>Steer correction percentage</span>
						<md-slider min="0" max="100" ng-model="settings.steerCorrector" class="md-warn"></md-slider>
						<md-input-container>
							<input type="number" ng-model="settings.steerCorrector">
						</md-input-container>
					</md-slider-container>
					<md-button class="md-warn" ng-click="save()">
			      		<md-icon class="material-icons">cloud_upload</md-icon>
			      		Save
			      	</md-button>
				</div>
      		</div>
      		<md-progress-circular ng-if="isLoading" md-mode="indeterminate"></md-progress-circular>
		</md-content>
	</body>
</html>