<!DOCTYPE html>
<html>
	<head>
	
		<title>Car Controller</title>
		
		<!-- meta -->
		<meta http-equiv="Content-Security-Policy">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
		
		<!-- css -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		
		<!-- cordova -->
		<script type="text/javascript" src="cordova.js"></script>
		
		<!-- imports -->
		<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="node_modules/hammerjs/hammer.js"></script>
		<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-aria/angular-aria.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-messages/angular-messages.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-hammer/angular.hammer.js"></script>
		<script type="text/javascript" src="app.js"></script>
		
		<script type="text/javascript" charset="utf-8">
		    function bootstrap() {
		    	xApp.initialize();
		    }
		</script>
		
		<!-- plugins -->
		<script type="text/javascript" src="plugins/WifiWizard.js"></script>
		<script type="text/javascript" src="plugins/screenorientation.js"></script>
		<script type="text/javascript" src="plugins/permissions.js"></script>
		<script type="text/javascript" src="plugins/networkinterface.js"></script>
		
		
		<!-- controllers -->
		<script type="text/javascript" src="indexController.js"></script>
		<script type="text/javascript" src="startingScreen/startingScreenController.js"></script>
		<script type="text/javascript" src="settingsScreen/settingsScreenController.js"></script>
		<script type="text/javascript" src="connectToNetworkDialog/connectToNetworkDialog.js"></script>
		<script type="text/javascript" src="services/arduinoService.js"></script>
		<script type="text/javascript" src="services/wifiUtils.js"></script>
		
	</head>
	<body onload="bootstrap()" id="LegoCarAppID" ng-cloak style="overflow:hidden;" layout="column" ng-controller="indexController">
		
		<!-- start screen -->
		<md-content flex ng-if="startScreenActive" id="startingScreen" layout="column" ng-controller="startingScreenController">
			<div flex="75" id="logoDiv" layout="column" layout-align="center center">
				<img flex="75" src="images/logo.png"/>
			</div>
			<div flex="35" id="buttonDiv" layout="column" layout-align="center center">
				<md-button class="md-raised md-warn" ng-if="!loading" hm-tap="begin($event)">Begin</md-button>
				<md-progress-circular md-mode="indeterminate" class="md-warn" ng-if="loading"></md-progress-circular>
			</div>
		</md-content>
		
		<!-- settings screen -->
		<md-content flex layout="row" ng-controller="settingsScreenController" id="settingsScreen" ng-if="settingsScreenActive">
			<!-- caricamento -->
			<div flex ng-if="loading" layout="row" layout-align="center center">
				<md-progress-circular md-mode="indeterminate" class="md-primary"></md-progress-circular>
			</div>
			<!-- se non connesso -->
			<div ng-if="!connected && !loading" layout="column" flex>
				<md-subheader class="md-primary">
					<md-button style="margin: 0px;" class="md-primary md-raised" hm-tap="startScan($event)">Cerca reti<md-icon class="material-icons">sync</md-icon></md-button>
				</md-subheader>
				<div ng-repeat="network in availableNetworks">
					<md-button layout="row" layout-align="start center" style="margin: 3px 0px; width: 100%" hm-tap="connect($event, $index)">
						<md-icon style="margin-right: 8px" class="material-icons">network_wifi</md-icon>
						{{network.SSID}}
						<md-progress-linear flex style="margin: 0px 5px;" md-mode="determinate" value="{{network.level}}"></md-progress-linear>
						{{network.level}}%
						<md-icon style="margin-left: 8px" class="material-icons" ng-if="locked($index)">lock</md-icon>
						<md-icon style="margin-left: 8px" class="material-icons" ng-if="!(locked($index))">lock_open</md-icon>
					</md-button>
					<md-divider ng-if="!$last"></md-divider>
				</div>
			</div>
			<!-- se connesso -->
			<md-content ng-if="connected && !loading">
				
			</md-content>
		</md-content>
		
	</body>
</html>