<!DOCTYPE html>
<html>
	<head>
	
		<title>Car Controller</title>
		
		<!-- meta -->
		<meta http-equiv="Content-Security-Policy">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
		
		<!-- css -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		
		<!-- cordova -->
		<script type="text/javascript" src="cordova.js"></script>
		
		<!-- imports -->
		<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="node_modules/hammerjs/hammer.js"></script>
		<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-aria/angular-aria.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-messages/angular-messages.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-hammer/angular.hammer.js"></script>
		<script type="text/javascript" src="app.js"></script>
		
		<script type="text/javascript" charset="utf-8">
		    function bootstrap() {
		    	xApp.initialize();
		    }
		</script>
		
		<!-- plugins -->
		<script type="text/javascript" src="plugins/WifiWizard.js"></script>
		<script type="text/javascript" src="plugins/screenorientation.js"></script>
		<script type="text/javascript" src="plugins/permissions.js"></script>
		<script type="text/javascript" src="plugins/networkinterface.js"></script>		
		
		<!-- controllers -->
		<script type="text/javascript" src="indexController.js"></script>
		<script type="text/javascript" src="startingScreen/startingScreenController.js"></script>
		<script type="text/javascript" src="settingsScreen/settingsScreenController.js"></script>
		<script type="text/javascript" src="connectToNetworkDialog/connectToNetworkDialog.js"></script>
		<script type="text/javascript" src="drivingScreen/drivingScreenController.js"></script>
		<script type="text/javascript" src="services/arduinoService.js"></script>
		<script type="text/javascript" src="services/wifiUtils.js"></script>
		
	</head>
	<body onload="bootstrap()" id="LegoCarAppID" ng-cloak style="overflow:hidden;" layout="column" ng-controller="indexController">
		
		<!-- start screen -->
		<md-content flex ng-if="startScreenActive" id="startingScreen" layout="column" ng-controller="startingScreenController">
			<div flex="75" id="logoDiv" layout="column" layout-align="center center">
				<img flex="65" src="images/logo.png"/>
			</div>
			<div flex="35" id="buttonDiv" layout="column" layout-align="center center">
				<md-button class="md-raised md-primary" ng-if="!loading" hm-tap="begin($event)">Begin</md-button>
				<md-progress-circular md-mode="indeterminate" class="md-primary" ng-if="loading"></md-progress-circular>
			</div>
		</md-content>
		
		<!-- settings screen -->
		<md-content flex layout="row" ng-controller="settingsScreenController" id="settingsScreen" ng-if="settingsScreenActive">
			<!-- caricamento -->
			<div flex ng-if="loading" layout="row" layout-align="center center">
				<md-progress-circular md-mode="indeterminate" class="md-primary"></md-progress-circular>
			</div>
			<!-- se non connesso -->
			<div ng-if="!connected && !loading" layout="column" flex>
				<md-subheader class="md-primary">
					<md-button style="margin: 0px;" class="md-primary md-raised" hm-tap="startScan($event)">Cerca reti<md-icon class="material-icons">sync</md-icon></md-button>
				</md-subheader>
				<div ng-repeat="network in availableNetworks">
					<md-button layout="row" layout-align="start center" style="margin: 3px 0px; width: 100%" hm-tap="connect($event, $index)">
						<md-icon style="margin-right: 8px" class="material-icons">network_wifi</md-icon>
						{{network.SSID}}
						<md-progress-linear flex style="margin: 0px 5px;" md-mode="determinate" value="{{network.level}}"></md-progress-linear>
						{{network.level}}%
						<md-icon style="margin-left: 8px" class="material-icons" ng-if="locked($index)">lock</md-icon>
						<md-icon style="margin-left: 8px" class="material-icons" ng-if="!(locked($index))">lock_open</md-icon>
					</md-button>
					<md-divider ng-if="!$last"></md-divider>
				</div>
			</div>
			<!-- se connesso -->
			<md-content ng-if="connected && !loading">
				
			</md-content>
		</md-content>
		
		<!-- driving screen -->
		<md-content flex layout="row" layout-align="start center" ng-controller="drivingScreenController" id="driving-screen" ng-if="controlsScreenActive">

			<div flex="100" layout="row" layout-align="center center" id="logicLayer" style="height: 100%;">
				<!-- gas section -->
				<div flex="40" style="height: 100%; background-color: rgb(255,255,255)" id="gasSection">
					<!-- gas logic section -->
					<div id="gasIconLogic" style="position: absolute; left: 0px; top: 0px; width: 40%; height: 100%; z-index: 1; background-color: rgba(255, 0, 0, 0);"></div>
					<!-- gas icon section -->
					<md-button class="md-fab md-primary" style="z-index: 0; margin: 0px; padding: 0px; position: absolute;" id="gasIcon">
						<md-icon class="material-icons">whatshot</md-icon>
					</md-button>
				</div>
				<!-- settings section -->
				<div id="logicLayerDivider" flex="20" layout="column" class="md-primary" layout-align="space-between center" layout-padding style="height: 100%; z-index: 2; box-shadow: 0 0 20px rgba(0,0,0,1);">
					<md-button class="md-icon-button md-primary" id="gearUpButton" ng-disabled="gearDisable">
						<md-icon style="margin-right: 8px" class="material-icons" id="gearUpIcon">add</md-icon>
					</md-button>
					<div layout="column" layout-align="center center">
						<md-button class="md-icon-button md-primary" id="settingsButton">
							<md-icon class="material-icons" id="settingsIcon">settings</md-icon>
						</md-button>
						<p style="color: green;" ng-if="connected">Connected!</p>
						<p style="color: red;" ng-if="!connected">Not connected...</p>
						{{gear}}
					</div>
					<md-button class="md-icon-button md-primary" id="gearDownButton" ng-disabled="gearDisable">
						<md-icon style="margin-right: 8px" class="material-icons" id="gearDownButton">remove</md-icon>
					</md-button>
				</div>
				<!-- steer section -->
				<div flex="40" style="height: 100%; background-color: rgb(255,255,255)" id="steerSection">
					<!-- steer logic section -->
					<div id="steerIconLogic" style="position: absolute; right: 0px; top: 0px; width: 40%; height: 100%; z-index: 1; background-color: rgba(255, 0, 0, 0);"></div>
					<!-- steer icon section -->
					<md-button class="md-fab md-primary" style="z-index: 0; margin: 0px; padding: 0px; position: absolute;" id="steerIcon">
						<md-icon class="material-icons">code</md-icon>
					</md-button>
				</div>
				
			</div>		
		</md-content>
		
	</body>
</html>